section#about.hideme
        .container
            .row
              .col-md-8.col-lg-offset-2.text-center
                h2.section-heading About
                |                     
                hr.light
              .col-md-4.col-md-offset-2                    
                p.text-faded
                  | I'm a front-end web developer who's been in the field for two years. I specialize in building dynamic, responsive, semantic UI and integration of data to the front end user face.
              .col-md-4.col-md-offset-1
                p.text-faded
                  | Originally from Dallas, TX, I've lived and studied in Hong Kong, Cape Town, South Africa, Seoul, South Korea, Mumbai, India, and Northampton, MA before calling San Francisco my home. 
                p
                  | I love all things music - from vinyl records to live concerts, and play guitar and piano when I can. I also enjoy running, skiing, biking, drawing, reading, and a cup of tea.      