section#contact
    .container
        .row
            .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Contact
                |                     
                hr.primary
                | 
                h4 Shilpa Kumar             
                p
                  | Based in San Francisco, CA.              
            .col-md-4.col-md-offset-2                  
                p.intro-title 
                  a(href='mailto:skumar225@gmail.com') Email.
                |                                    
                p.intro-title
                  a(href='https://www.linkedin.com/in/kumarshilpa/') Linkedin.
                p.intro-title
                  a(href='https://www.github.com/skumar225') Github.
            .col-md-6
                p.intro-title
                  a(href="/static/img/resume.pdf", target='_blank') Resume
                p &copy; Shilpa Kumar 2017.