section#contact
    .container
        .row
            .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading.hideme Contact
                |                     
                hr.primary.hideme
                | 
                h4.hideme Shilpa Kumar             
                p.hideme
                  | Based in San Francisco, CA.            
            .col-md-4.col-md-offset-2                
                p.intro-title 
                  a.button_sliding_bg(href='mailto:skumar225@gmail.com') Email.
                |                                    
                p.intro-title
                  a.button_sliding_bg(href='https://www.linkedin.com/in/kumarshilpa/') Linkedin.
                p.intro-title
                  a.button_sliding_bg(href='https://www.github.com/skumar225') Github.
            .col-md-6
                p.intro-title
                  a.button_sliding_bg(href="/static/img/resume.pdf", target='_blank') Resume.
                p &copy; Shilpa Kumar 2017.