extends ./layout.jade
block content
    .hero-container
      .hero
        .hero-image
    section#intro 
      .container
        .row
          .col-md-8.col-lg-offset-2.text-center
            .intro
              h1.intro-title.hello-heading
                span.highlight(style='background: #000') Hello.
              h1.intro-title
                span.highlight(style='background: #000') My name is Shilpa Kumar.
           //   h1.intro-title
                span.highlight(style='background: #000') I'm a front-end developer based in San Francisco, CA.
    include about.jade
    include skills.jade                  
    include work.jade
    include contact.jade