doctype html
html(lang="en")
  include ./partials/_head.jade
  body
    include ./partials/_nav.jade
    block content

    script(src='/static/js/jquery.js')
    script(src='/static/js/bootstrap.min.js')
    script(src='/static/js/bootstrap.js')
    script(src='/static/js/main.js')
  footer.footer
      .container
        p.text-muted Place sticky footer content here.
