section#skills
        .container
            .row
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Skills
                |                     
                hr.light.hideme
                
              .col-md-4.col-md-offset-2.hideme                     
                h3 Languages
                p HTML, CSS, SASS, Javascript 

                h3 Frameworks/Libraries
                p jQuery, ReactJS, Bootstrap, Node.js, Express
              .col-md-4.hideme    
                h3 Templating
                p Underscore.js, Handlebars.js, Jade, Jinja

                h3 Database Tools
                p SQL, PostgresSQL, MongoDB          
              .col-md-8.col-md-offset-2.hideme
                h3 Other
                p SEO Optimization, Mobile Responsive Design, Git, Photoshop, Illustrator, Sketch