section#work.no-padding
          .container-fluid       
            .row.no-gutter
              .col-lg-8.col-lg-offset-2.text-center
                h2.section-heading Work
                |                     
                hr.light
              .col-md-12.col-md-offset-4.col-sm-12
                .item
                  img.img-responsive(src='/static/img/projects/hearsayprojects.jpg', alt='')
                  .item-overlay.left
                    h4 Professional Work
                    p
                      | Sample work I've done while I was an interaction developer at Hearsay Systems. Built the UI of social media sites for financial insurance agents.
                    p
                      | Technologies used: ReactJS, Underscore.js, Jinja, Handlebars.js, Javascript/jQuery, HTML, CSS, Bootstrap
              .col-md-12.col-md-offset-3.col-sm-12
                .item
                  img.img-responsive(src='/static/img/projects/keepcalm.jpg', alt='')                       
                  .item-overlay.left
                    h4 Keep Calm and Write On
                    p
                      | An interactive speed writing game. 
                    p
                      | Technologies Used: Javascript, jQuery, HTML5/CSS3, Bootstrap
              .col-md-12.col-md-offset-3.col-sm-12
                .item
                  img.img-responsive(src='/static/img/projects/musicbucket.jpg', alt='')
                  .item-overlay.left
                    h4 MusicBucket  
                    p
                      | Group project that allows users to categorize their favorite Spotify tracks by moods and organize into playlists. User authentication is required to create their personalized playlists.

                    p
                      | Technologies used: Ruby, Rails, Bcrypt, Spotify API, AJAX, PostgresSQL, Javascript, jQuery, Bootstrap, HTML, CSS
              .col-md-12.col-md-offset-3.col-sm-12
                .item
                  img.img-responsive(src='/static/img/projects/musicbucket.jpg', alt='')
                  .item-overlay.left
                    h4 My Website
                    p
                      | This website was designed and built from the ground up by yours truly. An Express app with bootstrap frills.
                    p
                      | Technologies used: Express, Jade, Node.js, Javascript/jQuery, HTML, CSS, Bootstrap           
              